---
import Navbar from "../components/Navbar.astro";
import { SEO } from "astro-seo";
import Footer from "~/components/Footer.astro";

// import GoogleAnalytics from "../components/GoogleAnalytics.astro";

// Fallback for site and pathname to prevent "Invalid URL" error
const site = Astro.site ?? "https://ezviz-dubai.com";
const pathname = Astro.url?.pathname ?? "/";
const canonicalURL = new URL(pathname, site);

export interface props {
  structuredData?: object;
}
const { title, description, structuredData, keywords } = Astro.props;
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    {/* <GoogleAnalytics /> */}
    {
      structuredData && (
        <script
          is:inline
          type="application/ld+json"
          set:html={JSON.stringify(structuredData)}
        />
      )
    }
    <SEO
      title={title ?? "Ezviz Dubai Authorized distributor in Dubai,U.A.E"}
      description={description ??
        "Ezviz Dubai is an authorized distributor of Ezviz Dubai products in Dubai, UAE"}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: title ?? "Ezviz Dubai Authorized distributor in Dubai,U.A.E",
          type: "article",
          image: "",
        },
        optional: {
          description:
            description ??
            "Ezviz Dubai is an authorized distributor of UNV products in Dubai, UAE",
          siteName: "unv distributor in Dubai",
          locale: "en_Us",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@unvdubai",
        site: "@Unvdubai",
        title: title ?? "UNV Authorized distributor in Dubai,U.A.E",
        image: "",
        imageAlt: "Ezviz Dubai",
        description:
          description ??
          "Ezviz Dubai is an authorized distributor of UNV products in Dubai, UAE.",
      }}
      extend={{
        meta: [
          {
            name: "keywords",
            content:
              "Ezviz Dubai distributor, Dubai, UAE, surveillance, security" +
              keywords,
          },
          { name: "robots", content: "index, follow" },
          { name: "language", content: "English" },
          { name: "Author", content: "Ezviz Dubai" },
          {
            name: "organization",
            content: JSON.stringify({
              "@context": "http://schema.org",
              "@type": "Organization",
              name: "Ezviz Dubai",
              url: "",
              logo: "",
              description:
                description ??
                "Ezviz Dubai is an authorized distributor of UNV products in Dubai, UAE.",
              address: {
                "@type": "PostalAddress",
                streetAddress: "Market, Naif, Deira",
                addressLocality: "Dubai",
                addressRegion: "Dubai",
                postalCode: "123241",
                addressCountry: "AE",
              },
              contactPoint: {
                "@type": "ContactPoint",
                telephone: "++971552929644",
                contactType: "Sales",
              },
            }),
          },
        ],
      }}
    />
  </head>

  <body class="bg-white">
    <Navbar />
    <!-- Content Container -->
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>